* {
box-sizing: border-box;
font-family: 'Volkhov', serif;
font-size: 12px;
}

h1{
  text-align: center;
}

/* Product css code begin */
.product{
  width: 210px;
  height: 400px;
  background-color: #f7f7f7;
  display: block;
  line-height: 0; 
}

.discount{
  display: inline-block;
  width: 22%;
  height: 30px;
  float: left;
  margin-top: 20px;
  text-align: center;
}

.imageS{
  padding-left: 40%; 
  line-height: 0;
}
.isNew {
  display: inline-block;
  background: #242a2a;
  color: white;
  width: 100%;
  height: 100%;
  line-height: normal;  
}

.likeCount{
  color: #c5151f;
  display: block;
  background: #fafbfd;
  width: 100%;
  height: 100%;
  line-height: normal;
}
  
.name{
  padding-top: 5%;
  overflow-wrap: break-word;
  color: #050505;
  text-align: center;
  line-height: normal;
  font-weight: bold;
  text-shadow: 1px 0 #050505;
  letter-spacing: 1px;
}

.land-region-art{
  overflow-wrap: break-word;
  color: #949494;
  text-align: center;
  line-height: normal;
  margin-top: 10px;
}

.price{
  width: 49%;
  display: inline-block;
  color: #050505;
  text-align: right;
  line-height: normal;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 18px;
}

.prices{
  height: 100px;
  margin : 10% 1%;
  padding-bottom: 5%;

}
.bottom{
  width: 100%;
  height: 200px;
  margin-bottom: 0px;
}

.price-old-price{
  width: 49%;
  display: inline-block;
  color:#949494;
  text-align: left;
  line-height: normal;
  font-weight: bold;  
  text-decoration: line-through;
  font-size: 18px;
}

.basePrice{
  width: 100%;
  display: inline-block;
  color: #949494;
  text-align: center;
  line-height: normal;
}
/* Product css code end */

/* Lib css codes begin */
.slider {
  width: 50%;
  height: 100%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  height: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
}
/* Lib css codes end */